h2 {
  text-align: center;
  color: rgb(4, 24, 104);
  font-style: italic;
}

h3 {
  text-align: center;
  color: rgb(4, 24, 104);
  font-style: italic;
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid rgb(123, 46, 161);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}

.my-rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my-rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.my-rounded-all {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
